[submodule "third_party/speexdsp"]
	path = third_party/speexdsp
	url = https://github.com/xiph/speexdsp
[submodule "third_party/rnnoise"]
	path = third_party/rnnoise
	url = https://github.com/xiph/rnnoise
